<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../../styles/app.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../styles/nav-bar.css" />
    <link rel="manifest" href="../../../manifest.json">
    <link rel="icon" href="../../../assets/favicon48x48.svg" />
    <title>Acceuil</title>
  </head>
  <body>
    <script type="module">
      //Import components
      import MainNavComponent from "../../../components/MainNavComponent.js";

      //Create components
      const mainNavComponent = new MainNavComponent();

      // Sélectionnez l'élément HTML où vous souhaitez afficher le composant
      const mainNavContainer = document.querySelector(".main-nav-container");

      // Générez le HTML du composant en appelant la méthode render avec le texte du titre personnalisé ou non
      mainNavContainer.innerHTML = mainNavComponent.render();
    </script>

    <div class="main-nav-container"></div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Ceci est l'accueil</h1>

    <script>
      // Load the Service Worker
      // if ("serviceWorker" in navigator) {
      //   window.addEventListener("load", function () {
      //     navigator.serviceWorker
      //       .register("../../service-worker.js")
      //       .then(function (registration) {
      //         console.log(
      //           "Service Worker registered with scope:",
      //           registration.scope
      //         );
      //       })
      //       .catch(function (error) {
      //         console.log("Service Worker registration failed:", error);
      //       });
      //   });
      // }
    </script>
  </body>
</html>
