<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script type="module" defer src="../../../components/HeaderComponent.js"></script>
  <title>reproduction</title>

  <link href="../../../styles/app.css" rel="stylesheet" />
  <link href="../../../styles/reproduction.css" rel="stylesheet" />
  <link rel="stylesheet" href="../../../styles/HeaderComponent.css">
  <link rel="stylesheet" href="../../../styles/authentication.css">
  <link rel="icon" href="../../../assets/logo_LSF_AI.svg">
</head>

<body>
  <div class="title-container">
    <h1>Inscription</h1>
    <h2>Bienvenue !</h2>
  </div>

  <div class="form-container">
    <form action="" method="post">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" placeholder="Entrez votre email">
      <label for="username">Nom d'utilisateur</label>
      <input type="text" id="username" name="username" placeholder="Entrez un nom d'utilisateur">
      <label for="password">Mot de passe</label><br>
      <input type="password" id="password" name="password" placeholder="Entrez votre mot de passe">
      <input type="submit" value="S'inscrire">
    </form>

    <div class="account-button">
      <p>Vous êtes déjà inscrit ?</p>
      <a href="login">Connectez-vous</a>
    </div>

  </div>
</body>

</html>