<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- PERMISSION -->
    <meta http-equiv="Permissions-Policy" content="camera 'self'" />
    <!-- TENSERFLOW -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@0.8.3/dist/teachablemachine-image.min.js"></script>
    <!-- COMPONENTS -->
    <script type="module" defer src="../../../../app.js"></script>
    <script src="../../../scripts/dictionaryScript.js"></script>
    <!-- CSS -->
    <link href="../../../styles/app.css" rel="stylesheet" />
    <link href="../../../styles/dictionary.css" rel="stylesheet" />
    <!-- ICON -->
    <link rel="icon" href="../../../assets/favicon48x48.svg">

    <title>Dictionnaire LSF</title>

  </head>

  <body class="container">
    <header class="dictionary-header">
      <h1 class="dictionary-header__heading">Dictionnaire</h1>
    </header>

    <main class="dictionary-main">
      <h2 class="dictionary-main__subheading">Alphabet</h2>
      <section class="dictionary-main__content">
      </section>
    </main>

    <nav class="main-nav">
      <a class="desktop-only" href="/">
        <div class="main-nav__bloc">
          <img class="main-nav__bloc__icon" src="../../../assets/logo_LSF_AI.svg"
            alt="Accueil" />
        </div>
      </a>
      <a href="/">
        <div class="main-nav__bloc">
          <img id="nav-home-icon" class="main-nav__bloc__icon mobile-only" src="../../../assets/menu-icons/home-icon.svg"
            alt="Accueil" />
          <span>Accueil</span>
        </div>
      </a>
      <a href="/exercise">
        <div class="main-nav__bloc">
          <img id="nav-exercise-icon" class="main-nav__bloc__icon mobile-only" src="../../../assets/menu-icons/exercise-icon.svg"
            alt="Liste des exercices" />
          <span>Exercices</span>
        </div>
      </a>
      <a href="/dictionary">
        <div class="main-nav__bloc">
          <img id="nav-dictionary-icon" class="main-nav__bloc__icon mobile-only"
            src="../../../assets/menu-icons/dictionary-icon.svg" alt="Dictionnaire de signes" />
          <span>Dictionnaire</span>
        </div>
      </a>
      <a href="/account">
        <div class="main-nav__bloc">
          <img id="nav-h=account-icon" class="main-nav__bloc__icon mobile-only" src="../../../assets/menu-icons/account-icon.svg"
            alt="Mon Compte" />
          <span>Compte</span>
        </div>
      </a>
    </nav>

  </body>
  <script type="module" defer src="../../../scripts/signScript.js"></script>

</html>