<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- PERMISSION -->
    <meta http-equiv="Permissions-Policy" content="camera 'self'" />
    <!-- TENSERFLOW -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@0.8.3/dist/teachablemachine-image.min.js"></script>
    <!-- COMPONENTS -->
    <script type="module" defer src="../../../../app.js"></script>
    <script src="../../../scripts/dictionaryScript.js"></script>
    <!-- CSS -->
    <link href="../../../styles/app.css" rel="stylesheet" />
    <link href="../../../styles/dictionary.css" rel="stylesheet" />
    <!-- ICON -->
    <link rel="icon" href="../../../assets/logo_LSF_AI.svg">
    <link rel="stylesheet" href="../../../styles/nav-bar.css" />

    <title>Dictionnaire LSF</title>

  </head>
  <script type="module">
    //Import components
    import MainNavComponent from '../../../components/MainNavComponent.js';

    //Create components

    const mainNavComponent = new MainNavComponent();

    // Sélectionnez l'élément HTML où vous souhaitez afficher le composant
    const mainNavContainer = document.querySelector('.main-nav-container');

    // Générez le HTML du composant en appelant la méthode render avec le texte du titre personnalisé ou non
    mainNavContainer.innerHTML = mainNavComponent.render();

  </script>


  <body>
  
    <div class="main-nav-container"></div>
    <div class="container">
    <header class="dictionary-header">
      <h1 class="dictionary-header__heading">Dictionnaire</h1>
    </header>

    <main class="dictionary-main">
      <h2 class="dictionary-main__subheading">Alphabet</h2>
      <section class="dictionary-main__content">
      </section>
    </main>
  </div>
  </body>
  <script type="module" defer src="../../../scripts/signScript.js"></script>

</html>