/****************
 *    MOBILE    *
 ****************/

/**
 *  Dictionary Page
 */

/**
 *  Dictionary Container (body)
 */

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  /*background-position: 10px;*/
  background:
    url(../assets/backgrounds/mobile-dictionary-bg.png) no-repeat center center fixed,
    var(--main-bg-color);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/**
 *  Dictionary Header
 */

.dictionary-header {
  background-color: var(--second-bg-color);
  box-shadow: 0 4px 10px var(--shadow-color);
  padding: 0.8em 0 0.8em 0.5em;
}

.dictionary-header__heading {
  font-size: 1.2rem;
}

/**
 *  Dictionary Main
 */

.dictionary-main {
  margin: 1em 1em 0 1em;
  flex-grow: 1;
}

.dictionary-main__subheading {
  font-size: 0.9rem;
  color: var(--second-text-color);
}

.dictionary-main__content {
  margin-top: 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 1em;
}

/**
 *  Sign Card
 */

.sign-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
  width: 4.5em;
  height: 7em;
  margin-top: 1em;

  cursor: pointer;
  box-shadow: 0 2px 10px var(--shadow-color);

  border-radius: 0.7em;

  background-color: var(--main-bg-color);
}

.sign-card__image {
  width: 5em;
  height: 5em;
}

.sign-card__definition {
  font-weight: bold;
}

/**
 *  Letter Popup 
 */

.flex-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

.letter-popup{  
  border-radius: 1em;
  background-color: var(--second-bg-color);
  box-shadow: 0 4px 10px var(--shadow-color);

  width: 22rem;
  height: 27rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 3;

  cursor: default;
}

.letter-popup__close{
  padding-right: 0.4em;
  font-size: 3.5em;
  font-family: 'Montserrat-SemiBold';
  align-self: flex-end;
  color: var(--main-color);
  cursor: pointer;
}

.letter-popup__definition{
  font-size: 3em;
}

.letter-popup__image{
  height: 300px;
  width: 250px;
}

.letter-popup a{
  width: 100%;
  text-align: center;
  padding: 1em 0;

  border-top: 1px solid var(--main-color);

  border-bottom-left-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
  
  background-color: var(--main-color);
  color: white;

  font-family: 'Montserrat-SemiBold';
  font-size: 1.2em;
  
  cursor: pointer;

  transition: 200ms ease-in-out;

}


.letter-popup a:hover{
  
  background-color: var(--main-color-light);
  color: var(--main-color);
}

/**
 *  Main Nav 
 */

.main-nav {
  display: flex;
  justify-content: space-around;

  background-color: var(--second-bg-color);
  box-shadow: 0 -1px 4px var(--shadow-color);
  padding: 0.8em 0 0.8em 0.5em;
}

.main-nav__bloc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-nav__bloc__icon {
  width: 2.5em;
  height: 2.5em;
}


/*****************
 *    DESKTOP    *
 *****************/

@media (min-width: 768px) {

  .container{
    align-items: center;
  }

  /**
   *  Main Nav
   */
  .main-nav{
    order: 1;
    width: 75%;
    align-self: center;
    align-items: center;
    justify-content: space-between;

    border-radius: 1em;
    box-shadow: 1px 4px 10px var(--shadow-color);

    margin-top: 2em;
    padding: 0.3em 2em;
    
    font-weight: bold;
  }

  .main-nav span{
    font-size: 16px;
    font-family: 'Montserrat-Medium';

  }

  /**
   *  Dictionary Header
   */
  .dictionary-header{
    order: 2;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    text-align: center;
    margin-top: 2.5em;
  }

  .dictionary-header__heading{
    font-family: 'Montserrat-SemiBold';
    font-size: 1.5em;
  }

  /**
   *  Dictionary Main
   */  
  .dictionary-main{
    order: 3;
    width: 65%;
  }
  
  .dictionary-main__subheading{
    font-size: 1em;      
  }

  .dictionary-main__content{
    gap: 2.5em;
  }

  /**
   *  Sign Card
   */
  .sign-card{
    width: 6.75em;
    height: 10.5em;
  }

  .sign-card__image{
    width: 7em;
    height: 7em;
  }
  
  .sign-card__definition{
    font-size: 1.7em;
  }

  .letter-popup{
    width: 30em;
    height: 35em;
  }

  .letter-popup__image{
    height: 350px;
    width: 350px;
  }
}