/******************************************************/
.container {
    overflow: hidden;
}

.progress .username {
    font-size: 35px;
    margin-bottom: 40px;
    text-align: center;
}

#progress-text {
    margin-top: 20px;
    text-align: center;
}

.progress .pie {
    /* width: 420px; */
    display: flex;
    /* padding: 50px 0; */
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.level-progress {
    position: relative;
    height: 150px;
    width: 150px;
    background: conic-gradient(#FF6928 3.6deg, #FFFF 0deg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.level-progress::before {
    content: "";
    position: absolute;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background-color: #FFFF;
}

.small .level-progress {
    height: 50px;
    width: 50px;
    position: relative;

}

.small .level-progress::before {
    height: 40px;
    width: 40px;
}

.level-value {
    position: relative;
    font-size: 25px;
    font-weight: bold;
}

.small .level-value {
    position: relative;
    font-size: 10px;
    font-weight: bold;
}

.progress {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px 30px;
    overflow: hidden;
}

.progress .main-info {
    margin-top: 100px;
    display: flex;
    /* text-align: center; */
}

.progress .exercise-cards {
    width: 90%;
    /* margin-top: 100px; */
}

.progress .exercise-cards__card {

    align-self: center;
    align-items: center;
    border-radius: 1em;
    box-shadow: 1px 4px 10px var(--shadow-color);
    position: relative;
    padding: 0.5em 0;
    font-size: 1em;
    font-weight: bold;
    height: 94px;
    margin-top: 35px;
    padding: 10% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFF;
}

.exercise-cards__card p {
    font-weight: lighter;
    font-size: 10px;

}

/* DESKTOP */
.container {
    background:
        url(../assets/backgrounds/desktop_bg_home.png) no-repeat center center fixed,
        var(--main-bg-color);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}


@media (min-width: 768px) {
    .main-info {
        width: 90%;


    }

    .main-info .pie {
        display: flex;
        width: 2000px;
        padding: 20px;
        justify-content: flex-start;
        flex-direction: row;
        margin-left: 20px;
        margin-bottom: 70px;

    }

    .main-info .pie #level-content {
        position: absolute;
        top: 370px;
        margin: 20px 0 0 10px;
    }

    .main-info .pie .username {
        margin: 0 0 0 112px;

    }

    .progress .exercise-cards__card {
        height: 120px;
        padding: 0px;
        justify-content: space-between;
        padding: 0 10% 0 5%;

    }

    .progress .exercise-cards__card {
        font-size: 20px;
    }

    .small .level-progress {
        height: 80px;
        width: 80px;
        position: relative;

    }

    .small .level-progress::before {
        height: 60px;
        width: 60px;
    }
}